MONGO_URL="localhost:27017"
DB_PIPE_NAME="pipelines"
DB_PIPE_USER="pipe_rw"
DB_PIPE_PASS="12345678"
DB_RAW_NAME="raw_data"
DB_RAW_USER="raw_data_rw"
DB_RAW_PASS="12345678"
DB_FE_DATABASE="frontend_data"
DB_FE_RW_USER="fe_data_rw"
DB_FE_RW_PASS="12345678"
OAUTH_ISSUER="http://localhost:7000/default"
OAUTH_AUDIENCE="NjrD7i3pcLYKUPRlzdCpqLJGlbUwCq2DPY9ceeIh"
OAUTH_JKWS="jkws"